*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}
/* 
.header {
    max-width: 100vw;
    max-height: auto;
}

.upper {
    background-color: black;
    padding: 1rem 5rem;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
} */

/* 
.bottom {
    background-color: white;
    padding: 1rem 5rem;
    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header .bottom .cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
}

.footer {
    background-color: white;
    padding: 1rem 5rem;
    display: flex;
    align-items: center;
} */